@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@300;400&family=Ubuntu&display=swap');

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #343a40;
  color: #fff;
}

nav{
  width: 100%;
  /* position: fixed; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #262626;
  box-shadow: 0 0px 15px 0px #000;
  padding: 10px 1rem;
  margin-bottom: 2rem;
}

input{
  font-family: 'Poppins', sans-serif !important;
  border: none;
  width: 500px;
  margin-left: 10px;
  background-color: transparent;
}

button{
  background-color: transparent;
  border: none;
  cursor: pointer;
}

button:hover{
  background-color: #343a40;
  border-radius: 5px;
}

.logo{
  width: 80px;
}

i, input::placeholder{
  color: #fff;
}

button, input:focus{
  border: none;
  outline: none;
  color: #fff;
}

h3{
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  line-height: 25px;
  margin-bottom:2rem;
  font-size: 16px;
}

h1{
  font-family: 'Ubuntu', sans-serif;
  text-transform: uppercase;
  margin-top :3rem;
  border-bottom: 2px solid #ffffff;
}

.searchBar{
  border: 2px solid #343a40;
  background-color: #343a40;
  border-radius: 5px;
}

.menu{
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: #262626;
  width: 180px;
  border-radius: 10px;
  padding: 1rem;
  line-height: 36px;
  top: 80px;
  right: 15px;
  opacity: 0;
  transform: scale(0);
  transition: 0.5s;
  z-index: 99;
}

#close-menu{
  position: absolute;
  right: 17px;
  opacity: 0;
  transform: scale(0);
  transition: 0.5s;
}

a{
  color: #fff !important;
  font-family: 'Poppins', sans-serif;
  text-decoration: none !important;
  text-align: center;
}

a:hover{
  color: #638cff !important;
  border-bottom: 2px solid #638cff;
}

#logo-img:hover{
  border: none;
}

.newPost{
  background-color: #47d147;
  border-radius: 5px;
  padding: 5px 8px;
}

.newPost:hover{
  background-color: #248f24;
  color: #ffffff !important;
  border: none;
}

p{
  line-height: 30px;
  text-align: justify;
  font-family: 'Poppins', sans-serif;
}

.article-btn{
  background-color: #262626;
  padding: 1rem 2rem;
  border-radius: 10px;
  align-self: center;
}

.article-btn:focus{
  outline: none;
  border: none;
}

.article-btn:active{
  transform: scale(0.9);
}

.article-btn:hover{
  background-color: #262626;
  text-decoration: underline;
  border-radius: 10px;
}

.category-grid{
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 20px;
}

.grid-item{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000 !important;
  font-size: 24px;
  padding: 5rem;
  cursor: pointer;
  transition: 0.5s;
  overflow-x:hidden;
  backdrop-filter: blur(10px);
  border-radius: 10px;
}

.grid-item:hover{
  transform:scale(1.05);
  color: #000 !important;
  border: none;
}

.technology{
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  background: url("../img/technology.png");
  background-size: cover;
  background-position: center;
}

.technology:hover::after{
  content: 'Technology';
  position: relative;
  backdrop-filter: blur(10px);
  padding: 0 200rem;
}

.future{
  grid-column: 4 / 6;
  grid-row: 1 / 2;
  background: url("../img/future.png");
  background-size: cover;
  background-position: center;
}

.future:hover::after{
  content: 'Future';
  position: relative;
  backdrop-filter: blur(10px);
  padding: 0 200rem;
}

.philosophy{
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  background: url("../img/philosophy.png");
  background-size: cover;
  background-position: center;
}

.philosophy:hover::after{
  content: 'Philosophy';
  position: relative;
  backdrop-filter: blur(10px);
  padding: 0 200rem;
}

.food{
  grid-column: 3 / 5;
  grid-row: 2 / 3;
  background: url("../img/food.png");
  background-size: cover;
  background-position: center;
}

.food:hover::after{
  content: 'Food';
  position: relative;
  backdrop-filter: blur(10px);
  padding: 0 200rem;
}

.nature{
  grid-column: 5 / 6;
  grid-row: 2 / 4;
  background: url("../img/nature.png");
  background-size: cover;
  background-position: center;
}

.nature:hover::after{
  content: 'Nature';
  position: relative;
  backdrop-filter: blur(10px);
  padding: 2px 200rem;
}

.science{
  grid-column: 1 / 2;
  grid-row: 3 / 5;
  background: url("../img/science.png");
  background-size: cover;
  background-position: center;
}

.science:hover::after{
  content: 'Science';
  position: relative;
  backdrop-filter: blur(10px);
  padding: 2px 200rem;
}

.history{
  grid-column: 2 / 5;
  grid-row: 3 / 5;
  background: url("../img/history.png");
  background-size: cover;
  background-position: center;
}

.history:hover::after{
  content: 'History';
  position: relative;
  backdrop-filter: blur(10px);
  padding: 0 200rem;
}

.sports{
  grid-column: 5 / 6;
  grid-row: 4 / 5;
  background: url("../img/sports.png");
  background-size: cover;
  background-position: center;
}

.sports:hover::after{
  content: 'Sports';
  position: relative;
  backdrop-filter: blur(10px);
  padding: 0 200rem;
}

.swiper {
  width: 100%;
  height: 100%;
  margin: 2rem;
}

.swiper-slide{
  background-color: #262626;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow:  0 0 20px #000000 inset;
  padding: 2rem;
  background: url("../img/slider-bg2.png");
  background-position: center;
  background-size: cover;
}


.swiper-title h3{
  position: absolute;
  top: 8%;
}

.swiper-title p{
  position: absolute;
  top: 20%;
  line-height: 17px;
  font-size: 12px;
}

.swiper-title .swiper-article-desc{
  font-size: 16px;
  padding:4rem;
  line-height: 30px;
}

.newsletter{
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.newsletter input{
  background-color: #262626;
  border: 2px solid rgba(0,0,0,0.5);
  padding: 10px 12rem 10px 5px;
  border-radius: 7px;
}

footer{
  width: 100%;
  margin-top: 5rem;
  background-color: #262626;
  box-shadow:  0 0 20px #000000 inset;
}

footer a, p{
  font-family: 'Ubuntu' , sans-serif !important;
}

.footer-contents{
  padding: 3rem 5rem;
  display: flex;
  justify-content: space-between;
}

.footer-socials{
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: normal;
}

.social-links i:hover{
  border: none;
  transform: scale(1.2);
}

.social-links a:hover{
  border: none;
}
